@model PackageCreateViewModel

<section>
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col-12 col-md-7 card-body bg-secondary">
                <div class="text-center mb-5">
                    <h1 class="h2 mb-6 text-green">Create package</h1>
                </div>
                <div class="row justify-content-center">
                    <div class="col-12 col-lg-9">
                        <form asp-action="Create" asp-controller="Package" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly"></div>

                            <div>
                                <h5  class="text-red">@ViewBag.MyMessage</h5>
                            </div>

                            <div class="form-row form-group">
                                <div class="col">
                                    <label asp-for="Name">Name<sup>*</sup></label>
                                    <input required asp-for="Name" class="form-control form-control-lg" />
                                    <span class="text-red" asp-validation-for="Name"></span>
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col">
                                    <label asp-for="Description">Description<sup>*</sup></label>
                                    <input required asp-for="Description" class="form-control form-control-lg" />
                                    <span class="text-red" asp-validation-for="Description"></span>
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col">
                                    <label asp-for="Picture">Picture</label>
                                    <input type="file" name="file" />
                                </div>
                            </div>
                            <div class="form-row form-group">
                                <div class="col">
                                    <label asp-for="Active">Active</label>
                                    <input type="checkbox" asp-for="Active" value="true" />
                                </div>
                                </div>
                            <div class="form-row form-group">
                                <div class="col">
                                    <button type="submit" class="btn btn-block btn-success btn-lg">Create</button>
                                </div>
                                </div>
</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
