<section>
    <div class="container">
        
            <div class="row">
                <div class="col-md-8">
                    <p style="font-size:1.25em">
    Hello, I'm Michael Dushin. This website is just a demo simulation of a travel agency web application. It doesn't exist in real life and it's content partly follows project documentation requirements, partly is my imagination.<br /><br />
    This web application is my Diploma project and it's purpose is to present my skill level in Software Development to anyone who is interested and probably considering me as a potential candidate for a developer role.<br /><br />
    Also, you can find the course code on https://github.com/mikhail468/DushinWebApp.<br /><br />
    Hope, you liked my application<br /><br />
    All the best,<br /><br />
    Michael Dushin.
</p>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" src="~/staticImages/DSC00444.JPG" />
                    </div>
                </div>
            </div>
</section>
