<section>
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col card-body">
                    <h1 class="display-4 text-indigo">Welcome to Grande Travel</h1>
            </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        Grande Travel is a leading Australian based travel company with Australia’s
                        largest network of 2,000 independent franchised travel agents.
                    </p>

                    <p>
                        Our widespread and knowledgeable network of travel specialists are passionate about
                        travel and know how to tailor the perfect holiday for each of our clients. We pride
                        ourselves on getting to know all our clients and in learning specifically what you want
                        from your holiday experiences and how we can make that a reality each and every time you
                        travel with us. We are also available to assist you on each step of the holiday journey,
                        from planning to booking to travelling to returning home and to booking again!
                    </p>

                    <p>
                        Grande Travel’s mission is to offer Australian travellers industry-leading service,
                        access to the best value travel deals and unparalleled customer assistance and convenience.
                    </p>

                    <p>
                        Because our network of travel agents are passionate and experienced travellers, we understand
                        what goes into making a great holiday experience and we will go the extra mile to make sure
                        each holiday experience we put together is one that our clients will be telling their friends
                        about for years to come – or at least until they come back to plan and book the next
                        life-changing holiday with us!
                    </p>
                </div>
            </div>
        </div>
</section>
