
<section>
    <div class="container">
        <div class="row text-center justify-content-center">
            <div class="col card-body">
                <h1 class="display-4 text-indigo">Contact us</h1>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col">
                <h2>Grande Travel Sydney</h2>
            </div>
        </div>
        <div class="row text-center justify-content-center">
            <div class="col">
                <p>02 9772 xxxx</p>
                </div>
            </div>
            <div class="row text-center justify-content-center">
                <div class="col">
                    <p>Shop101, Ground Floor, Sydney Workers Club, <br />2B Smith Street, Sydney, NSW 2000</p>
                    </div>
                </div>
            <div class="row text-center justify-content-center">
                <div class="col text-right">
                    <p>
                        MON: <br />
                        TUE: <br />
                        WED: <br />
                        THU: <br />
                        FRI: <br />
                        SAT: <br />
                        SUN: <br />
                    </p>
                </div>
                <div class="col text-left">
                    <p>
                        0900-1730<br />
                        0900-1730<br />
                        0900-1730<br />
                        0900-1730<br />
                        0900-1730<br />
                        0900-1300<br />
                        Closed<br />
                    </p>
                </div>
            </div>
        </div>
</section>